# Resultados gerais

In [1]:
import sqlite3
import pandas as pd

dbconn = sqlite3.connect("TaxasMutacao.sqlite")

In [2]:
a = pd.read_sql("SELECT * FROM resultados",dbconn)
del a['index']

In [3]:
a = a[a['N'] == 1000]

In [4]:
a = a[a['P'] == 11]

In [5]:
# Taxas de sucesso
a.groupby(['mu','cxpb','mupb','muidxpb'])['Sucesso'].sum().sort_values(ascending=False)

mu    cxpb  mupb  muidxpb
300   0.3   0.7   0.3        10
      0.7   0.3   0.3         9
100   0.3   0.3   0.3         7
300   0.7   0.7   0.3         6
100   0.3   0.7   0.3         4
      0.7   0.3   0.3         2
            0.7   0.3         2
300   0.3   0.3   0.3         2
1000  0.3   0.3   0.3         0
Name: Sucesso, dtype: int64

In [6]:
# Geração final a atingir sucesso
a[a['Sucesso']==1].groupby(['mu','cxpb','mupb','muidxpb'])['Geração final'].describe()

                       count        mean         std    min     25%    50%  \
mu  cxpb mupb muidxpb
100 0.3  0.3  0.3        7.0  365.142857  272.900732   37.0  169.00  313.0
         0.7  0.3        4.0  203.750000   70.636983  136.0  153.25  193.5
    0.7  0.3  0.3        2.0  113.500000   91.216775   49.0   81.25  113.5
         0.7  0.3        2.0  434.000000   60.811183  391.0  412.50  434.0
300 0.3  0.3  0.3        2.0  194.500000  126.572114  105.0  149.75  194.5
         0.7  0.3       10.0  192.100000   91.840986   86.0  111.25  161.5
    0.7  0.3  0.3        9.0  232.222222  131.824483   74.0  102.00  295.0
         0.7  0.3        6.0  184.166667  212.835539    3.0   22.75  107.5

                          75%    max
mu  cxpb mupb muidxpb
100 0.3  0.3  0.3      537.50  793.0
         0.7  0.3      244.00  292.0
    0.7  0.3  0.3      145.75  178.0
         0.7  0.3      455.50  477.0
300 0.3  0.3  0.3      239.25  284.0
         0.7  0.3      292.50  299.0
    0.7  0.3  0.3      351.00  380.0
         0.7  0.3      298.75  530.0

# Teste do SGA

In [7]:
from generate_tsp import GerarProblemaRadialTSP
from sga import SGAPermutacao, SGAInteiroLimitado

In [8]:
posicoes = GerarProblemaRadialTSP(20)

In [ ]:
params = {
    "N":5000,
    "P":posicoes.shape[1],
    "mu":1000,
    "cxpb": 0.7,
    "mupb":0.3,
    "muidxpb":0.3
}

pop,stats,hof,params,custo = SGAInteiroLimitado(posicoes,params)

In [ ]:
hof[0]

In [ ]:
from visualizacoes import PlotResultado
import numpy as np

In [ ]:
PlotResultado(np.array(hof[0]),posicoes)

In [ ]:
gen, minGap, avg, std = stats.select("gen",'minGap','mean','std')

In [ ]:
import matplotlib.pyplot as plt
plt.plot(std)
plt.show()