# Resultados gerais

In [1]:
import sqlite3
import pandas as pd
import numpy as np

dbconn = sqlite3.connect("Resultados.sqlite")

In [2]:
a = pd.read_sql("SELECT * FROM resultados",dbconn)
del a['index']

In [3]:
# Taxas de sucesso
a.groupby(['mu','cxpb','mupb','muidxpb'])['Sucesso'].sum().sort_values(ascending=False)

mu   cxpb  mupb  muidxpb
100  0.3   0.3   0.3        1
           0.7   0.3        1
     0.7   0.7   0.3        1
           0.3   0.3        0
Name: Sucesso, dtype: int64

In [4]:
# Geração final a atingir sucesso
a[a['Sucesso']==1].groupby(['mu','cxpb','mupb','muidxpb'])['Geração final'].describe()

                       count   mean  std    min    25%    50%    75%    max
mu  cxpb mupb muidxpb
100 0.3  0.3  0.3        1.0  232.0  NaN  232.0  232.0  232.0  232.0  232.0
         0.7  0.3        1.0  981.0  NaN  981.0  981.0  981.0  981.0  981.0
    0.7  0.7  0.3        1.0  817.0  NaN  817.0  817.0  817.0  817.0  817.0

# Teste do SGA

In [5]:
resultados = pd.DataFrame()

In [8]:
from generate_tsp import GerarProblemaRadialTSP
from sga import SGAPermutacao, SGAInteiroLimitado

In [9]:
def EscreverResultado(res,params,topologia,tipo):
    params['Topologia'] = topologia
    pop,stats,hof,params,custo = res
    resPerm = pd.Series(params)
    resPerm['Tipo'] = tipo
    minVal, gap, success = stats.select("min",'gap','success')
    resPerm['Sucesso'] = success[-1]
    resPerm['Geração final'] = len(success)
    resPerm['MBF'] = np.mean(minVal)
    resPerm['Gap'] = gap[-1]
    resPerm['Valor encontrado'] = hof[0].fitness.values[0]
    return pd.DataFrame([resPerm])
    
def Experimento(posicoes,params,nomePosicao='Padrão'):
    res = SGAPermutacao(posicoes,params)
    resPerm = EscreverResultado(res,params,nomePosicao,'Permutação')
    res = SGAInteiroLimitado(posicoes,params)
    resInt = EscreverResultado(res,params,nomePosicao,'Inteiro')
    return pd.concat([resPerm,resInt],ignore_index=True)

In [8]:
cidades = 9
individuos = 10

resultados = pd.DataFrame()

In [34]:
posicoes[:,-1:0:-1].shape

(2, 8)

In [52]:
from itertools import product

cidadesLista = [5,6,7,8,9]
individuosLista = [10,20,30]
geracoes = 300

for cidades, individuos in product(cidadesLista,individuosLista):
    posicoes = GerarProblemaRadialTSP(cidades)
    posicoes = posicoes[:,:-1]
    params = {
        "N":geracoes,
        "P":posicoes.shape[1],
        "mu":individuos,
        "cxpb": 0.3,
        "mupb":0.3,
        "muidxpb":0.3
    }
    for i in range(500):
        resultados = pd.concat([resultados,Experimento(posicoes,params,'Circular')],ignore_index=True)
        resultados = pd.concat([resultados,Experimento(posicoes[:,::-1],params,'Reverso')],ignore_index=True)

IndentationError: unexpected indent (586792398.py, line 20)

In [52]:
from itertools import product

cidadesLista = [10,11,12,13]
individuosLista = [40,50,60,70]
geracoes = 300

for cidades, individuos in product(cidadesLista,individuosLista):
    posicoes = GerarProblemaRadialTSP(cidades)
    posicoes = posicoes[:,:-1]
    params = {
        "N":geracoes,
        "P":posicoes.shape[1],
        "mu":individuos,
        "cxpb": 0.3,
        "mupb":0.3,
        "muidxpb":0.3
    }
    for i in range(500):
        resultados = pd.concat([resultados,Experimento(posicoes,params,'Circular')],ignore_index=True)
        resultados = pd.concat([resultados,Experimento(posicoes[:,::-1],params,'Reverso')],ignore_index=True)

IndentationError: unexpected indent (586792398.py, line 20)

In [ ]:
from itertools import product

cidadesLista = [10,11,12]
individuosLista = [100]
geracoes = 300

for cidades, individuos in product(cidadesLista,individuosLista):
    posicoes = GerarProblemaRadialTSP(cidades)
    posicoes = posicoes[:,:-1]
    params = {
        "N":geracoes,
        "P":posicoes.shape[1],
        "mu":individuos,
        "cxpb": 0.3,
        "mupb":0.3,
        "muidxpb":0.3
    }
    
    for i in range(500):
        resultados = pd.concat([resultados,Experimento(posicoes,params,'Circular')],ignore_index=True)
        resultados = pd.concat([resultados,Experimento(posicoes[:,::-1],params,'Reverso')],ignore_index=True)

In [43]:
resultados2 = resultados.iloc[15000:].copy()

In [46]:
resultados2

,N,P,mu,cxpb,mupb,muidxpb,Topologia,Tipo,Sucesso,Geração final,MBF,Gap,Valor encontrado
15000,300,5,10,0.3,0.3,0.3,Reverso,Permutação,True,2,5.877853,1.000000,5.877853
15001,300,5,10,0.3,0.3,0.3,Reverso,Inteiro,True,5,7.040321,1.000000,5.877853
15002,300,5,10,0.3,0.3,0.3,Reverso,Permutação,True,3,6.846576,1.000000,5.877853
15003,300,5,10,0.3,0.3,0.3,Reverso,Inteiro,True,2,5.877853,1.000000,5.877853
15004,300,5,10,0.3,0.3,0.3,Reverso,Permutação,True,2,6.604395,1.000000,5.877853
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,300,9,30,0.3,0.3,0.3,Reverso,Inteiro,True,22,8.313924,1.000000,6.156363
29996,300,9,30,0.3,0.3,0.3,Reverso,Permutação,False,301,9.732813,0.651091,7.359432
29997,300,9,30,0.3,0.3,0.3,Reverso,Inteiro,True,5,8.504459,1.000000,6.156363
29998,300,9,30,0.3,0.3,0.3,Reverso,Permutação,False,301,9.756370,0.659913,7.359432
29999,300,9,30,0.3,0.3,0.3,Reverso,Inteiro,True,2,6.156363,1.000000,6.156363

In [3]:
dbconn = sqlite3.connect("resultados_finais.sqlite")
resultados = pd.read_sql("SELECT * FROM resultados",dbconn)

In [4]:
SR = pd.DataFrame({
    'Inteiro':(100*resultados.groupby(['P','mu','Tipo'])['Sucesso'].sum()/resultados.groupby(['P','mu','Tipo'])['Sucesso'].count())[:,:,'Inteiro'],
    'Permutação':(100*resultados.groupby(['P','mu','Tipo'])['Sucesso'].sum()/resultados.groupby(['P','mu','Tipo'])['Sucesso'].count())[:,:,'Permutação']
})
SR

      Inteiro  Permutação
P mu
5 10    100.0       100.0
  20    100.0       100.0
  30    100.0       100.0
6 10    100.0       100.0
  20    100.0       100.0
  30    100.0       100.0
7 10    100.0        97.8
  20    100.0       100.0
  30    100.0       100.0
8 10    100.0        45.1
  20    100.0        68.7
  30    100.0        81.5
9 10    100.0         8.2
  20    100.0        11.9
  30    100.0        19.0

In [5]:
MBF = resultados.groupby(['Tipo','P','mu'])['MBF'].describe().reset_index().set_index(['Tipo','P','mu']).unstack(['Tipo'])
MBF[['mean','std']]

          mean                  std
Tipo   Inteiro Permutação   Inteiro Permutação
P mu
5 10  6.017270   6.405669  0.324915   0.505951
  20  5.892771   6.103036  0.103558   0.385085
  30  5.881485   5.984215  0.051271   0.268889
6 10  6.553810   7.349360  0.587696   0.510775
  20  6.188924   6.986248  0.367963   0.521497
  30  6.074164   6.791149  0.231427   0.526356
7 10  7.218266   8.346612  0.727579   0.410046
  20  6.655659   7.957308  0.599777   0.431390
  30  6.408518   7.763145  0.479199   0.440701
8 10  7.970432   9.396893  0.821163   0.270145
  20  7.261605   8.973346  0.772285   0.268007
  30  7.016388   8.744893  0.684303   0.307619
9 10  8.809474  10.471552  0.810507   0.183492
  20  8.068875   9.991838  0.785363   0.136635
  30  7.686903   9.734531  0.784329   0.105285

In [6]:
AES = resultados[resultados['Sucesso'] == True].groupby(['Tipo','P','mu'])['Geração final'].describe().unstack(['Tipo'])
AES[['mean','std']]

        mean                    std
Tipo Inteiro  Permutação    Inteiro Permutação
P mu
5 10   2.262    3.398000   0.867242   2.529821
  20   2.019    2.369000   0.175128   0.904244
  30   2.000    2.144000   0.000000   0.561765
6 10   3.760   13.968000   3.135320  12.840399
  20   2.356    7.344000   1.063200   6.846644
  30   2.113    5.132000   0.494445   4.369630
7 10   7.799   71.849693   8.032130  64.080193
  20   3.989   37.131000   3.611914  37.083568
  30   2.829   27.104000   1.863124  26.131399
8 10  18.497  129.753880  19.160091  83.899486
  20   8.342  122.391557   8.440158  84.323268
  30   5.815  110.406135   5.671767  79.066378
9 10  44.290  154.987805  44.995427  81.641870
  20  20.552  161.806723  20.566192  85.270087
  30  13.160  145.931579  13.210485  90.439027

## TODO 

* Mudar a função de mutação para espelhamento
* Verificar se a função de roleta está funcionando (mudar para torneio)
* Para novo mapa de soluções, embaralhar os índices aleatoriamente