# Relatórios

In [1]:
import pandas as pd

In [3]:
a = pd.read_pickle('2-resultados_geral.pickle')
b = pd.read_pickle('3-resultados_geral.pickle')
c = pd.read_pickle('resultados_geral.pickle')

a = pd.concat([a,b,c])

a

,P,N,mu,cxpb,mupb,muidxpb,Tipo,Valor encontrado,Sucesso,MBF,Geração final
0,20.0,3000.0,10.0,0.3,0.7,0.7,Inteiro,11.107850,False,18.632836,3000
1,20.0,3000.0,10.0,0.3,0.7,0.7,Permutação,16.290362,False,22.717789,3000
2,20.0,3000.0,10.0,0.3,0.7,0.7,Inteiro,9.888404,False,19.005012,3000
3,20.0,3000.0,10.0,0.3,0.7,0.7,Permutação,16.991813,False,22.662443,3000
4,20.0,3000.0,10.0,0.3,0.7,0.7,Inteiro,8.746145,False,18.776010,3000
...,...,...,...,...,...,...,...,...,...,...,...
315,40.0,3000.0,80.0,0.7,0.7,0.3,Permutação,34.713115,False,42.930912,3000
316,40.0,3000.0,80.0,0.7,0.7,0.3,Inteiro,20.870981,False,34.382153,3000
317,40.0,3000.0,80.0,0.7,0.7,0.3,Permutação,35.161852,False,42.883327,3000
318,40.0,3000.0,80.0,0.7,0.7,0.3,Inteiro,23.032028,False,34.000274,3000
319,40.0,3000.0,80.0,0.7,0.7,0.3,Permutação,33.885720,False,42.966365,3000

In [85]:
out = a[a['Sucesso']==True].groupby(['P','mu','cxpb','mupb','muidxpb','Tipo']).describe().sort_values(by=('N', 'count'),ascending=False)['Geração final','mean'].to_latex()
with open('tabela2.tex','w') as fil:
    fil.write(out)

In [86]:
out = a[a['Sucesso']==True].groupby(['P','mu','cxpb','mupb','muidxpb','Tipo']).describe().sort_values(by=('N', 'count'),ascending=False)['MBF','mean'].to_latex()
with open('tabela3.tex','w') as fil:
    fil.write(out)